In [1]:
from main import DataImporter
import tensorflow as tf


data_importer = DataImporter()
data_importer.import_data()

ds_train = data_importer.get_train_data()
ds_test = data_importer.get_test_data()
ds_validation = data_importer.get_validation_data()

In [2]:
ds_train.info()
print('\n')
ds_test.info()
print('\n')
ds_validation.info()
print('\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10269 entries, 0 to 10268
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10269 non-null  object
 1   label                 10269 non-null  int64
 2   statement             10269 non-null  object
 3   subject               10269 non-null  object
 4   speaker               10269 non-null  object
 5   job_title             10269 non-null  object
 6   state_info            10269 non-null  object
 7   party_affiliation     10269 non-null  object
 8   barely_true_counts    10269 non-null  float32
 9   false_counts          10269 non-null  float32
 10  half_true_counts      10269 non-null  float32
 11  mostly_true_counts    10269 non-null  float32
 12  pants_on_fire_counts  10269 non-null  float32
 13  context               10269 non-null  object
dtypes: float32(5), int64(1), object(8)
memory usage: 922.7+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1283 entries, 0 to 1282
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1283 non-null   object
 1   label                 1283 non-null   int64
 2   statement             1283 non-null   object
 3   subject               1283 non-null   object
 4   speaker               1283 non-null   object
 5   job_title             1283 non-null   object
 6   state_info            1283 non-null   object
 7   party_affiliation     1283 non-null   object
 8   barely_true_counts    1283 non-null   float32
 9   false_counts          1283 non-null   float32
 10  half_true_counts      1283 non-null   float32
 11  mostly_true_counts    1283 non-null   float32
 12  pants_on_fire_counts  1283 non-null   float32
 13  context               1283 non-null   object
dtypes: float32(5), int64(1), object(8)
memory usage: 115.4+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1284 entries, 0 to 1283
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1284 non-null   object
 1   label                 1284 non-null   int64
 2   statement             1284 non-null   object
 3   subject               1284 non-null   object
 4   speaker               1284 non-null   object
 5   job_title             1284 non-null   object
 6   state_info            1284 non-null   object
 7   party_affiliation     1284 non-null   object
 8   barely_true_counts    1284 non-null   float32
 9   false_counts          1284 non-null   float32
 10  half_true_counts      1284 non-null   float32
 11  mostly_true_counts    1284 non-null   float32
 12  pants_on_fire_counts  1284 non-null   float32
 13  context               1284 non-null   object
dtypes: float32(5), int64(1), object(8)
memory usage: 115.5+ KB

In [3]:
# Drop specified columns from each dataset
columns_to_drop = ['id', 'subject', 'speaker', 'job_title', 'state_info', 'party_affiliation', 'context']

ds_train = ds_train.drop(columns=columns_to_drop)
ds_test = ds_test.drop(columns=columns_to_drop) 
ds_validation = ds_validation.drop(columns=columns_to_drop)

# Display results
print("Training Dataset:")
display(ds_train.head())
print("\nTest Dataset:") 
display(ds_test.head())
print("\nValidation Dataset:")
display(ds_validation.head())

Training Dataset:

,label,statement,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts
0,0,Says the Annies List political group supports ...,0.0,1.0,0.0,0.0,0.0
1,1,When did the decline of coal start? It started...,0.0,0.0,1.0,1.0,0.0
2,2,"Hillary Clinton agrees with John McCain ""by vo...",70.0,71.0,160.0,163.0,9.0
3,0,Health care reform legislation is likely to ma...,7.0,19.0,3.0,5.0,44.0
4,1,The economic turnaround started at the end of ...,15.0,9.0,20.0,19.0,2.0

Test Dataset:

,label,statement,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts
0,3,Building a wall on the U.S.-Mexico border will...,30.0,30.0,42.0,23.0,18.0
1,0,Wisconsin is on pace to double the number of l...,2.0,1.0,0.0,0.0,0.0
2,0,Says John McCain has done nothing to help the ...,63.0,114.0,51.0,37.0,61.0
3,1,Suzanne Bonamici supports a plan that will cut...,1.0,1.0,3.0,1.0,1.0
4,5,When asked by a reporter whether hes at the ce...,5.0,7.0,2.0,2.0,7.0

Validation Dataset:

,label,statement,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts
0,4,We have less Americans working now than in the...,1.0,0.0,1.0,0.0,0.0
1,5,"When Obama was sworn into office, he DID NOT u...",11.0,43.0,8.0,5.0,105.0
2,0,Says Having organizations parading as being so...,0.0,1.0,1.0,1.0,0.0
3,1,Says nearly half of Oregons children are poor.,0.0,1.0,1.0,1.0,0.0
4,1,On attacks by Republicans that various program...,70.0,71.0,160.0,163.0,9.0

# Inital model setup

In [4]:
from models.modelhelper import ModelHelper
import numpy as np

# Initialize ModelHelper
model_helper = ModelHelper()

# Preprocess text data
train_texts = ds_train['statement'].apply(model_helper.preprocess_text)
test_texts = ds_test['statement'].apply(model_helper.preprocess_text)
val_texts = ds_validation['statement'].apply(model_helper.preprocess_text)

# Convert texts to sequences
train_sequences = model_helper.preprocess_text(train_texts)
test_sequences = model_helper.preprocess_text(test_texts)
val_sequences = model_helper.preprocess_text(val_texts)

# Get truthfulness columns
truthfulness_columns = model_helper.truthfulness_columns

# Get the raw count values for training
train_labels = model_helper.normalize_counts(ds_train)
test_labels = model_helper.normalize_counts(ds_test)
val_labels = model_helper.normalize_counts(ds_validation)

# Create text classification model
vocab_size = 10000  # Matches max_tokens in preprocess_text
embedding_dim = 100
max_sequence_length = 200
num_classes = len(truthfulness_columns)  # Number of truthfulness categories

model = model_helper.create_text_classification_model(
    vocab_size=vocab_size,
    embedding_dim=embedding_dim, 
    max_sequence_length=max_sequence_length,
    num_classes=num_classes
)

%load_ext tensorboard
%tensorboard --logdir models/logs/fit

# Prepare datasets
train_dataset, val_dataset, test_dataset = model_helper.prepare_datasets(
    train_sequences=train_sequences,
    train_labels=train_labels,
    val_sequences=val_sequences,
    val_labels=val_labels,
    test_sequences=test_sequences,
    test_labels=test_labels,
    batch_size=32
)

# Train the model using ModelHelper's train_model method
history = model_helper.train_model(
    model=model,
    train_data=train_dataset,
    validation_data=val_dataset,
    epochs=15,
    batch_size=32
)

# Evaluate on test set
test_metrics = model.evaluate(test_dataset)
print(test_metrics)

# Save the model
model_helper.save_model(model, "text_classification_model")

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
# Load the saved model
loaded_model = model_helper.load_model("text_classification_model.keras")

# Make predictions on test dataset
print(test_dataset)
predictions = loaded_model.predict(test_dataset)
# Convert predictions to class labels
predicted_classes = np.argmax(predictions, axis=1)

# Print sample predictions
print("\nSample predictions:")
for i in range(5):
    print(f"Example {i+1}:")
    print(f"Predicted probabilities: {predictions[i]}")
    print(f"Predicted class: {predicted_classes[i]}")
    print(f"Actual class: {np.argmax(test_labels[i])}\n")

<_PrefetchDataset element_spec=(TensorSpec(shape=(None, 200), dtype=tf.float32, name=None), TensorSpec(shape=(None, 5), dtype=tf.float32, name=None))>
41/41 ━━━━━━━━━━━━━━━━━━━━ 3s 62ms/step

Sample predictions:
Example 1:
Predicted probabilities: [0.0237863  0.04588207 0.84792125 0.03049852 0.05191188]
Predicted class: 2
Actual class: 3

Example 2:
Predicted probabilities: [0.0237863  0.04588207 0.84792125 0.03049852 0.05191188]
Predicted class: 2
Actual class: 0

Example 3:
Predicted probabilities: [0.0237863  0.04588207 0.84792125 0.03049852 0.05191188]
Predicted class: 2
Actual class: 4

Example 4:
Predicted probabilities: [0.0237863  0.04588207 0.84792125 0.03049852 0.05191188]
Predicted class: 2
Actual class: 3

Example 5:
Predicted probabilities: [0.0237863  0.04588207 0.84792125 0.03049852 0.05191188]
Predicted class: 2
Actual class: 1

In [13]:
test_string = 'The president is a good man'
prediction = loaded_model.predict(model_helper.preprocess_text(test_string))
print(prediction)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 335ms/step
[[0.03657951 0.07009739 0.8112296  0.02982641 0.05226712]]